{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        html { padding: 0 50px; }
        header { margin: 0 0 40px; }
        form {padding: 50px; border: 1px grey solid; border-radius:5px;}
    </style>
</head>

<body>
    <header>
        {% csrf_token %}
        <h1>Welcome {{e}}</h1>
    </header>

    <h2>TODO LIST</h2>
    <form action ="/tasksent" method = "post">
      {% csrf_token %} 
      <label for="your_todo">Enter your task</label>
      <input id="your_task" type="text" name="your_task" required>
      <input type="submit" value="OK">
    </form>
    {% for task in all_todos %}
      <h4>{{ task.1}}</h4>
    {% endfor %}

</body>
</html>